window#HDMI-A-2 {
  background: rgb(0, 0, 0);
}
window#DP-1 {
  background: rgb(0, 0, 0);
}
window#eDP-1 {
  background: rgb(0, 0, 0);
}

#window-box {
  color: black;
	padding: 64px;
	border: 1px solid black;
	border-radius: 9px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
	background-color: white;
}
